---
const socials = [
  {
    name: 'GitHub',
    url: 'https://github.com/dianedelallee',
    icon: 'i-uil-github',
  },
  {
    name: 'Linkedin',
    url: 'https://www.linkedin.com/in/dianedelallee/',
    icon: 'i-uil-linkedin',
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/fixie_des_alpes/',
    icon: 'i-uil-instagram',
  },
];
---

<section class='md:hidden'>
  <h2 class='hidden'>Socials section</h2>
  <ul class='flex justify-between'>
    {
      socials.map((item) => (
        <li class='bg-white px-4 py-2 text-green border-black border-2 rounded card-shadow'>
          <a href={item.url} target='_blank' title={`Go to ${item.name}`}>
            <div class:list={[item.icon, 'p-6']} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
